:root {
    --score-table-border: 2px solid black;
}

html
{
    background-color: blanchedalmond;
    width: auto;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: bisque;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

main {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

p, a, button {
    font-size: 18px;
}

footer h2 {
    font-size: 24px;
    text-align: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#begin-gauntlet {
    font-family: monospace;
    font-size: 32px;
    text-align: center;
    display: block;
    padding: 20px;
    margin: 10px auto;
}

/* Establishes common language for interactible parts of website */
.clickable {
    cursor: pointer;
    background-color: darkred;
    color: azure;
    margin: 30px 0px;
    padding: 20px;
    border: 2px outset black;
    border-radius: 20px;
    text-decoration: none;
}

.clickable:active {
    background-color: darkslateblue;
}

.quiz-choice {
    font-size: 20px;
    font-weight: bold;
}

.quiz-choice-text {
    font-weight: normal;
}

#quiz-header {
    display: flex;
}

#quiz-question {
    flex-grow: 1;
}

#quiz-state {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 125px;
}

#score, #timer {
    height: 20px;
    margin: 5px;
}

#choices {
    width: 100%;
}

#previous-choice-feedback {
    font-size: 20px;
}

.correct {
    color: darkgreen;
}

.incorrect {
    color: darkred;
}

/* Begin score table selectors */
.scroll-pane {
    height: 600px;
    width: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#score-table {
    width: 100%;
    display: table;
}

#score-table-caption {
    display: table-caption;
    font-size: 24px;
    text-align: center;
}

#score-table-header {
    display: table-header-group;
    background-color: bisque;
    font-weight: bold;
    padding: 2px;
}

.score-table-header-cell {
    display: table-cell;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-top: var(--score-table-border);
    border-bottom: var(--score-table-border);
}

.score-table-header-cell:first-child {
    border-left: var(--score-table-border);
}

.score-table-header-cell:last-child {
    border-right: var(--score-table-border);
}

#score-table-body {
    display: table-row-group;
}

.score-table-row {
    display: table-row;
    height: 22px;
}

.score-table-row:nth-child(even) {
    background-color: bisque; /* Alternating row colors */
}

.score-table-row:last-child .score-table-row-cell{
    border-bottom: var(--score-table-border);
}

.score-table-row-cell {
    display: table-cell;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.score-table-row-cell:first-child {
    border-left: var(--score-table-border);
}

.score-table-row-cell:last-child {
    border-right: var(--score-table-border);
}

#try-again-wrapper {
    margin: 30px 0;
}

#try-again-link {
    margin-top: 30px;
}