html
{
    background-color: blanchedalmond;
}

body {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

p, a, button {
    font-size: 18px;
}

.clickable {
    cursor: pointer;
    background-color: darkred;
    color: azure;
    margin: 30px 0px;
    padding: 20px;
    border: 2px outset black;
    border-radius: 20px;
    text-decoration: none;
}

.quiz-choice {
    font-size: 20px;
    font-weight: bold;
}

.quiz-choice-text {
    font-weight: normal;
}

#begin-gauntlet {
    font-family: monospace;
    font-size: 32px;
    text-align: center;
    display: block;
    padding: 20px;
    margin: 10px auto;
}

footer h2 {
    font-size: 24px;
    text-align: center;
}

#quiz-header {
    display: flex;
}

#quiz-question {
    flex-grow: 1;
}

#quiz-state {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#score, #timer {
    height: 20px;
    margin: 5px;
}

.scroll-pane {
    height: 600px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

#score-table {
    width: 100%;
    display: table;
}

#score-table-caption {
    display: table-caption;
    font-size: 24px;
    text-align: center;
}

#score-table-header {
    display: table-header-group;
}

.score-table-header-cell {
    display: table-cell;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

#score-table-body {
    display: table-row-group;
}

.score-table-row {
    display: table-row;
    height: 22px;
}

.score-table-row-cell {
    display: table-cell;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#try-again-wrapper {
    margin: 30px 0;
}

#try-again-link {
    margin-top: 30px;
}