html
{
    background-color: blanchedalmond;
}

body {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

p, a {
    font-size: 18px;
}

#begin-gauntlet {
    font-family: monospace;
    font-size: 32px;
    text-align: center;
    display: block;
    padding: 20px;
    margin: 10px auto;
}

footer h2 {
    font-size: 24px;
    text-align: center;
}

#quiz-header {
    display: flex;
}

#quiz-question {
    flex-grow: 1;
}

#timer {
    height: 20px;
    margin-top: auto;
}